.pre {
  position: relative;
  padding: var(--space-4) var(--space-5);
  border-radius: var(--radius-4);
  border: 1px solid var(--gray-6);
  white-space: pre;
  font-size: var(--font-size-2);
  overflow-x: auto;
  margin-block: var(--space-5);
}

.pre .copyButton {
  opacity: 0;
  transition: opacity 80ms ease-out;
}

.pre:hover .copyButton {
  opacity: 1;
}
